<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Animated Button</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://kubbafox.github.io/Hackathon_Team_14/assets/main.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<header class="main-header">
    <div class="container site-branding">
        <h1>Hackathon: Team 14 - Project 2</h1>
    </div>
</header>
<div class="button-container">
    <h1>Animated Buttons</h1>
    <div class="inner-container">
        <button id="#center-out" class="button button-waves">Center Out</button>
    </div>
    <div class="inner-container">
        <button id="#center-out-circle" class="button button-waves">Center Out Circle</button>
    </div>
    <div class="inner-container">
        <button id="#left-to-right" class="button button-waves">Left to Right</button>
    </div>
    <div class="inner-container">
        <button id="#right-to-left" class="button button-waves">Right to Left</button>
    </div>
</div>

<script src="scripts.js"></script>
</body>
</html>
